h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas      
                    +navTemaItem('1', 'Historia de la animación', 'main.html#page/historia_animacion/')
                    +navTemaItem('2', 'Técnicas de animación', 'main.html#page/tecnicas_animacion/')
                    +navTemaItem('3', 'Esquema de producción audiovisual', 'main.html#page/esquema_produccion_audiovisual/')
                    +navTemaItem('4', 'Esquemas de narración', 'main.html#page/esquemas_narracion/')
                    +navTemaItem('5', 'Creación y diseño de personajes', 'main.html#page/creacion_diseno_personajes/')
                    +navTemaItem('6', 'Guion', 'main.html#page/guion/')
                   
                    
                    