h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 250201022-01]
        p.mb-0 Planear el proyecto de acuerdo con los requerimientos.
           




