.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Hatch, H. (2019), El principio KISS. Ser simple no es estúpido.
                    td Pagina web (Blog)
                    td 
                        a(href="https://soy.marketing/el-principio-kiss-ser-simple-no-es-estupido/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar   
                tr
                    td Selby, A, (2013), La Animación.
                    td Libro
                    td 
                        a(href="https://sena-primo.hosted.exlibrisgroup.com/permalink/f/1j5choe/sena_aleph000070646", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar              
                tr
                    td Webflow, (s.f.), The History of Animation.
                    td Pagina web 
                    td 
                        a(href="https://history-of-animation.webflow.io", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar  