include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Animacam. (2016). Los inicios de la animación: Émile Reynaud.", "http://animacam.tv/los-inicios-de-la-animacion-emile-reynaud/")
        +referenciaItem("Baiz, F. (s.f). Claves para la escritura de un buen guion de cine. Consultado el 28 de agosto de 2020 en:", "https://issuu.com/pedromenesesmontes/docs/claves-para-la-escritura-de-un-buen")
        +referenciaItem("Biteable. (2020). What is motion graphics?.", "https://biteable.com/blog/what-is-motion-graphics/")
        +referenciaItem("Bloop Animation Studios LLC. (2020). The 5 Types of Animation.", "https://www.bloopanimation.com/types-of-animation/")
        +referenciaItem("Castillo, A. P. (2013). Estructura dramática", "https://es.calameo.com/read/004944011fa9360605829")
        +referenciaItem("Cubero, D. E. (2017). Cómo aplicar el viaje del héroe a tu historia.", "https://cursosdeguion.com/55-como-aplicar-viaje-del-heroe/")
        +referenciaItem("Egri, L. (1972) The Art of Dramatic Writing: Its Basis in the Creative Interpretation of Human Motives, Simon and Schuster.", "")
        +referenciaItem("Field, S. (1995). El manual del guionista. Plot Ediciones", "http://www.laescaleta.mx/wp-content/uploads/2017/09/syd-field-el-manual-del-guionista-.pdf")
        +referenciaItem("Gobierno de Colombia, MinTIC. Manizales Vive Digital. (2016). Guía de buenas prácticas de calidad internacional para la industria de Animación Digital.", "https://www.vivelabmanizales.com/wp-content/uploads/2015/02/1Guía-de-buenas-prácticas-de-calidad-internacional-Web.pdf")
        +referenciaItem("Interaction Design Foundation. (2019). KISS (Keep it Simple, Stupid) - A Design Principle.", "https://www.interaction-design.org/literature/article/kiss-keep-it-simple-stupid-a-design-principle")        
        +referenciaItem("Interaction Design Foundation. (2019). KISS (Keep it Simple, Stupid) - A Design Principle.", "https://www.interaction-design.org/literature/article/kiss-keep-it-simple-stupid-a-design-principle")
        +referenciaItem("Laybourne. (1998). The Animation Book: a complete guide to animated filmmaking - from flip-books to sound cartoons to 3-D animation. Three Rivers Press.", "")   
        +referenciaItem("Selby, A. (2013). La Animación. Editorial Blume.", "") 
        +referenciaItem("The Atlantic. (2016). The Man Who Captured Time por J. Weston Phippen.", "https://www.theatlantic.com/entertainment/archive/2016/07/eadweard-muybridge/483381/") 
        +referenciaItem("Thomas, F. & Johnston, O. (1981) The Illusion of Life Disney Animation. Disney Editions.", "")
        +referenciaItem("Voytilla, S. (1999). Myth and the Movies: Discovering the Mythic Structure of 50 Unforgettable Films. Studio City CA, EEUU: Michael Wiese Productions.", "https://www.tlu.ee/~rajaleid/montaazh/Hero%27s%20Journey%20Arch.pdf")
        +referenciaItem("Webflow. (s.f). The History of Animation.", "https://history-of-animation.webflow.io/")
        +referenciaItem("Williams, R. (2009) The Animator’s Survival Kit. Faber and Faber, Inc.", "")     
        
        

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            