.container#tema_3

    .header-ecored
        h1 3. Esquema de producción audiovisual

    .jumbotron.bg-white     
          
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/BhE7rLpH_1s', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', 
        allowfullscreen='')      

      .row.mt-5
        .col-12
          p.mb-0 Cualquier proceso por desarrollar en una industria requiere una serie de pasos o etapas para ser culminado con éxito, siendo estas determinadas por el proceso en sí y por supuesto, el caso de la producción audiovisual no es una excepción. Independientemente de su extensión, género, formato, técnica o cualquier otra variable que ayude a definir el tipo de producto a realizar, en lo concerniente al mundo de la imagen en movimiento se habla habitualmente de tres etapas comúnmente denominadas: #[strong preproducción, producción y posproducción.]