.container#tema_2

    .header-ecored
        h1 2. Técnicas de animación 

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3#tema2_2
            h2 2.2 #[i stop motion]

      .row.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_2/img_2_2_01.jpg", alt="").img-fluid 
        .col-12.mb-5          
          p.mb-0 Esta categoría, que en español traduce, movimiento detenido, describe la animación creada a partir de la manipulación de objetos físicos que son movidos ligeramente y fotografiando fotograma a fotograma con el fin de dar la ilusión de movimiento.
        .col-auto.mb-5    
          a(href="https://vimeo.com/180025799", target="_blank", style="color:#12263F")
            .jumbotron.bg-custom.mb-0
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                .col
                  p.mb-0 #[strong Ejemplo.] #[iThe evolution of stop motion]

        .col-12
          p Existen varias subcategorías de este estilo de animación, determinado principalmente por el medio o material usado para crear los diferentes personajes y elementos de la producción (Laybourne, 1998):

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_2_02.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  h3.mb-3 Puppet animation
                  p.mb-0 Allí predomina el uso de marionetas, las cuales se componen por un esqueleto sofisticado de articulaciones y centenares de expresiones faciales que les permite moverse e interactuar dentro de una escenografía cuidadosamente diseñada para desarrollar la historia. Hoy en día, uno de los mayores estudios que usa esta técnica para realizar largometrajes es Laika (Coraline, Boxtrolls, Kubo).
        .row                  
          .col-auto.mb-5    
            a(href="https://www.youtube.com/watch?v=f1e_OdUzBeY&t=17s", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] #[i Behind the Scenes of Kubo and the Two Strings - Stop Motion Production] 

          .col-auto   
            a(href="https://www.youtube.com/watch?v=FlUxuAG2Ac8", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] #[i ParaNorman Featurette: Making Norman]   

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_2_03.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  h3.mb-3  Claymation
                  p.mb-0 Se caracteriza por usar figuras en materiales maleables como la arcilla o la plastilina. Cada pieza animada, ya sean personajes o escenarios tienen la facultad de ser “deformables”. El estudio británico #[i Aardman Animations] (Wallace y Gromit, Pollitos en fuga) suele plasmar visualmente esta apariencia de plasticidad en sus largometrajes; no obstante, también hacen uso de esqueletos avanzados, recubiertos de un material maleable. Esto se debe a que ciertos materiales como la plastilina no tienen la capacidad de resistir las continuas deformaciones a las que son sometidas durante el proceso de animación.
        .row                  
          .col-auto  
            a(href="https://www.youtube.com/watch?time_continue=23&v=dNJdJIwCF_Y", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] #[i Fresh Guacamole by PES | Oscar Nominated Short]

      

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_2_04.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span C
                .list__txt
                  h3.mb-3  #[i Cut out]
                  p.mb-0 Es una técnica donde se usan elementos en 2 dimensiones, como el papel o una tela. En ocasiones, los personajes pueden ser más complejos y poseen articulaciones. La animación de siluetas o silhoutte animation, es una de las técnicas más antiguas de animación en #[i cut out].
        .row
          .col-auto  
            a(href="https://www.youtube.com/watch?v=hqVPYPyTNPs", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] #[i Stop-Motion Animation Compilation]       

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_2_05.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span D
                .list__txt
                  h3.mb-3  #[i Sand animation/ Oil paint animation]
                  p.mb-0 En esta técnica se utilizan arena y pinturas u óleos respectivamente, sobre una superficie de vidrio o mesa de luz. Prácticamente se diseña o pinta cada fotograma, similar a la animación clásica, donde cada dibujo es la base del siguiente.

        .row
          .col-auto.mb-5    
            a(href="https://www.youtube.com/watch?v=fWNIXKtm8M8", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] Animación con arena

          .col-auto
            a(href="https://www.youtube.com/watch?v=JHFlnwXKhsM", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] Animación con pintura de aceite  

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_2_06.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span E
                .list__txt
                  h3 Pixilation o Pixilación
                  p.mb-0 Es una forma de #[i stop motion] donde los personajes y escenarios son actores y locaciones reales. Allí los objetos cobran vida, las propiedades y leyes físicas se modifican con el fin de crear sucesos irreales. Uno de los desafíos más grandes de esta técnica es el control de la iluminación al momento de obturar.

        .row
          .col-auto  
            a(href="https://www.youtube.com/watch?v=l7Z1VBQkdIM&list=PLhQXbDC1t-A4wIiGcOemaNQJNfUrnTiJT", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] pixilación