.container#tema_4

    .header-ecored
        h1 4. Esquemas de narración

    .jumbotron.bg-white               
      .embed-responsive.embed-responsive-16by9.mb-5
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/N9E7YIGP360', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', 
        allowfullscreen='')    
      .row 
        .col-12
          p.mb-0 Antes de hablar de las distintas estructuras narrativas, es necesario denotar los elementos básicos de una historia: trama, conflicto, personajes y escenario.
          .hr-divider.my-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Trama:] forma en que se relatan los acontecimientos que suceden dentro de la historia, es decir, su estructura narrativa.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Conflicto:] obstáculos o problemas que se oponen a los objetivos del protagonista. 
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p #[strong Personajes:] Seres que llevan a cabo las acciones dentro de la historia. Usualmente son personas, pero pueden ser también criaturas, animales u objetos dotados de personalidad. 
          .list.mb-0
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_single_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Escenario:] es todo el mundo que se crea para contar la historia.

          .hr-divider.my-4    

          p El objetivo de una estructura narrativa es permitir que una historia sea clara y capture la atención del público receptor (Castillo, 2013). 
