.container#tema_2

    .header-ecored
        h1 2. Técnicas de animación 

    .jumbotron.bg-white     
      .row
        .col-12
          .header-ecored.mt-3#tema2_3
            h2 2.3 Animación por computadora o CGI
      
      .row  
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_2/img_2_3_01.jpg", alt="").img-fluid 

        .col-12.mb-5
          p El CGI o Imágenes Generadas por Computadora (por sus siglas en inglés) son animaciones producidas digitalmente y comprenden un vasto abanico de categorías que van desde la animación digital 2D, los #[i motion graphics], animación 3D, los #[i vfx], videojuegos, realidad virtual, entre otros.
          p A continuación describiremos algunos de los más importantes y usados hoy día:

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_3_02.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span A
                .list__txt
                  h3 Animación digital o 2D
                  p.mb-0 En la animación 2D asistida digitalmente no se requiere dibujar todos los fotogramas como en la animación tradicional, sino que el animador debe fijar aquellos puntos importantes o #[i key poses] y el ordenador realizará la transición o intercalado entre esas poses. La mayoría de las series animadas para TV suelen hacer uso de esta técnica, construyendo marionetas 2D que les permiten articular al personaje sin necesidad de hacer nuevos dibujos, lo cual puede considerarse como un cut-out digital.

        .row                  
          .col-auto   
            a(href="https://youtu.be/X0P9ni0hTI4?t=113", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] Tangled la serie de Disney es un ejemplo de animación 2D digital.

      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_3_03.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span B
                .list__txt
                  h3 #[i Motion graphics]
                  p Suelen ser animaciones en 2D o 3D que se centran en animación tipográfica o de logos. Podríamos decir que es diseño gráfico en movimiento (Biteable, 2020).
                  p.mb-0 Esta es una técnica que ha crecido en los últimos años, ganando su lugar como uno de los perfiles más buscados dentro de la industria de la publicidad, la TV y el diseño web. 

        .row                  
          .col-auto.mb-5    
            a(href="https://www.youtube.com/watch?time_continue=30&v=Tek8QmKRODw&feature=emb_logo", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] Los créditos iniciales de Psycho de Hitchcock
          .col-auto
            a(href="https://vimeo.com/214728820", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] La Effe Rebrand
      
      .hr-divider.my-5

      .jumbotron.img_texture
        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_3_04.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white
              .list
                .list__item
                  .list__item__bulletNumber
                    span C
                .list__txt
                  h3 Animación 3D
                  p Es una de las técnicas más usadas hoy día para la realización de largometrajes, cortometrajes, efectos visuales y videojuegos. Esta técnica, como todas las anteriores, abarca toda una serie de procesos complejos, que para este caso en concreto conlleva al esculpido o modelado digital, la texturización o pintura, el rigging o construcción de esqueletos, la animación de personajes, la iluminación y el render. Al igual que el #[i stop motion], el animador usa una marioneta para posarlo en el tiempo, y mediante splines o curvas de animación, se establecen las transiciones entre las poses. (Bloop Animation, 2020).

        .row                  
          .col-auto.mb-5    
            a(href="https://www.youtube.com/watch?v=jAaTB8kfcjg", target="_blank", style="color:#12263F")
              .jumbotron.bg-custom.mb-0
                .row.justify-content-center.align-items-center
                  .col-auto
                    img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                  .col
                    p.mb-0 #[strong Ejemplo.] #[i Rose The Shortfilm] es un proyecto de talento colombiano en 3D

        .row.justify-content-center             
          .col-12.d-flex.justify-content-center
            img(src="assets/images/pages/tema_2/img_2_3_05.jpg", alt="", style="width:100%").img-fluid   
          .col-12
            .jumbotron.bg-white.mb-0              
              p.mb-0 Dentro de la animación 3D también se encuentran la captura de movimiento o motion capture y las simulaciones. Esta es muy usada dentro de la industria de efectos visuales y los videojuegos AAA, ya que brinda mayor realismo; sin embargo, requiere de un sistema avanzado de sensores y cámaras de detección, así como también software especializado para recopilar los datos y permitir la limpieza de los fotogramas. Por otra parte, las simulaciones o animación basada en elementos físicos, permiten visualizar comportamientos de objetos o partículas a partir de atributos físicos, como por ejemplo la gravedad, la maleabilidad de un material y la fuerza del viento. Dichos procesos suelen ser usados para el desarrollo de efectos especiales y pruebas en el sector industrial.