.container#tema_2

    .header-ecored
        h1 2. Técnicas de animación 

    .jumbotron.bg-white     
      
      .row.justify-content-center
        .col-12.col-lg-8.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_2/img_2.svg", alt="", style="width:100%").img-fluid 
        .col-12
          p.mb-0 Existen varios estilos o técnicas de animación, que van desde el uso de la fotografía y dibujo a mano hasta las imágenes generadas por computador. En este apartado no se pretende profundizar en cada una de las técnicas, pues la información y proceso de producción de cada una es muy extensa; más bien, se busca que logre caracterizar de forma general cada una de las técnicas y pueda ahondar en aquellas de su interés.