.container#tema_4

    .header-ecored
        h1 4. Esquemas de narración       

    .jumbotron.bg-white
      .row      
        .col-12
          .header-ecored.mt-3#tema4_1
            h2 4.1 Modelo Aristotélico y el paradigma  
               
      .row.justify-content-center.mb-5
        .col-12
          p Ambos modelos se pueden contemplar como un mismo tipo de estructura dramática, teniendo en cuenta que tanto el modelo estudiado por el filósofo Aristóteles en su libro “La Poética”, como “El Paradigma” planteado por Syd Field, se basan en la narración de una historia en 3 actos principales: presentación (acto I) , confrontación (acto II) y resolución del conflicto principal (acto III); sin embargo, “El Paradigma” podría entenderse como una extensión del modelo aristotélico, dado que los actos están divididos por puntos argumentales o #[i plot points], los cuales son acontecimientos que cambian radicalmente el sentido de la acción (Baiz, s.f.).
        .col-12.col-md-7.d-flex.justify-content-center.mt-5.mb-4
          img(src="assets/images/pages/tema_4/info_4_1_01.svg", alt="", style="width:100%").img-fluid 
        .col-12.mb-5
          p.text-center #[i Esquema narrativo en 3 actos por Syd Field. Tomado del libro: El Manual del Guionista (1995).]
        .col-12
          p.mb-0 Para este momento, se analizará brevemente la película animada “Tierra de Osos” de Disney (2003), con el fin de identificar cada uno de los momentos narrativos explicados a continuación:

      .row.justify-content-center
        .col-12.mb-5
          .accordion#accordionExample
            .card
              .card-header#heading1
                h2.mb-0
                  button.btn.btn-link.pl-0(type="button", data-toggle="collapse",data-target="#collapse1", aria-expanded="true", aria-controls="collapse1")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Planteamiento
              .collapse.show#collapse1(aria-labelledby="heading1", data-parent="#accordionExample")
                .card-body
                  p.mb-3 Es la presentación inicial que permite contextualizar la historia dentro del espacio-tiempo, identificar los personajes y exponer el problema principal. Es bueno responder a las preguntas: ¿quién o quiénes? ¿dónde? ¿cuáles son las circunstancias actuales? El primer #[i plot point] que cierra el acto I, puede designarse como conflicto, el cual rompe el equilibrio inicial y constituye el primer punto de giro.
                  p En Tierra de Osos todo comienza con el ritual de hombría de Kenai (protagonista), el cual desea desesperadamente convertirse en un hombre. Luego aparece un #[i plot point], donde muere su hermano mayor a causa de un incidente con un oso, del cual él es culpable. Esto motiva a Kenai a buscar venganza hasta cegar la vida de un oso, lo que genera un cambio de forma de humano a oso.

            .card
              .card-header#heading2
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse2", aria-expanded="false", aria-controls="collapse2")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Confrontación
              .collapse#collapse2(aria-labelledby="heading2", data-parent="#accordionExample")
                .card-body
                  p.mb-3 También conocido como el nudo de la historia. Allí se presentan los obstáculos que se oponen a los objetivos del protagonista. Resulta útil preguntarse ¿qué es lo peor que le puede ocurrir al protagonista? ¿qué lo llevaría a un punto de quiebre? Como lo escribe Andrea del Pilar Castillo: “El conflicto constituye el detonante de la historia planteando el problema central que el personaje deberá resolver de una u otra forma al final”. ¿Conseguirá el protagonista su objetivo? (Castillo, 2013). Este desarrollo narrativo aborda una serie de peripecias o situaciones adversas que vienen de repente y afectan directamente al protagonista.
                  p Kenai convertido en oso, emprende un viaje hacia la montaña donde podrá encontrarse con el espíritu de su hermano Sitka. En este viaje se encuentra con Koda, un osezno que le enseñará el valor del amor y la hermandad. Por otra parte, Tug el otro hermano de Kenai, decide buscar venganza por la pérdida de sus hermanos a manos de un oso. El segundo #[i plot point] se da cuando Koda cuenta la historia de cómo su madre lo defendió de un cazador.

            .card
              .card-header#heading3
                h2.mb-0
                  button.btn.btn-link.collapsed.pl-0(type="button", data-toggle="collapse",data-target="#collapse3", aria-expanded="false", aria-controls="collapse3")
                    h4.mb-0.collapsable-title.d-flex.align-items-center Resolución
              .collapse#collapse3(aria-labelledby="heading3", data-parent="#accordionExample")
                .card-body
                  p.mb-3 Se centra en la solución del problema, pero antes el protagonista deberá enfrentar el conflicto. Durante dicho momento la intensidad dramática llega a su punto más alto, el cual es conocido como clímax. Tras dicho momento, viene el desenlace, que brinda un nuevo equilibrio y el cambio del protagonista después de superar el conflicto (Castillo, 2013). Se debe responder: ¿Cuál es la solución de la historia? ¿el protagonista vive o muere? ¿triunfa o fracasa? (Field, 1995). 
                  p.mb-3 Kenai se enfrenta a su hermano Tug que trata de matarlo. Koda entra en escena para defender a Kenai, pero al estar en peligro el pequeño oso, Kenai lo protege con su vida. Es allí donde todo se resuelve, Kenai vuelve a ser humano y se reencuentran los 3 hermanos. Kenai comprende el significado de su #[i totem] y decide cuidar del pequeño Koda, renunciado a su vida como humano, sellando así su ritual de hombría.
                  p Una película puede tener varios #[i plot points] que le ayuden a intensificar el drama. Se pueden manejar 2 en el acto I, más de 10 en el acto II y 1 en el acto III. Sin embargo, para que la historia funcione, se deben tener claros los 4 componentes básicos: inicio, final y los dos #[i plot points] (Field, 1995).


    