.container#tema_6

    .header-ecored
        h1 6. Guion  

    .jumbotron.bg-white
      .row      
        .col-12
          .header-ecored.mt-3#tema6_2
            h2 6.2 Guion literario   

      .row.justify-content-center.mb-5
        .col-12.col-md-8.d-flex.justify-content-center.mt-5.mb-6
          img(src="assets/images/pages/tema_6/img_6_2_01.svg", alt="", style="width:100%").img-fluid 
        .col-12
          p El guion literario es el documento que contiene la historia en su versión final, sin que esto quiera decir que solo con seguir el proceso creativo de escritura salga a la primera. Es normal que el guion pase por varios procesos de revisión y reescritura para asegurar que el planteamiento realizado sea coherente, convincente y de calidad, ya que sobre este se desarrollarán todas las etapas siguientes en el proceso de producción y por tanto, se ejecutará la mayor parte del presupuesto.
          p En el guion se presenta la historia pensada para la pantalla (imágenes y sonidos) sin especificar parámetros técnicos, debido a que estos van en el guion técnico; es decir, se estructura de forma que al momento de su lectura sea fácil de imaginar todo lo que está pasando.

        .col-12.col-md-8.d-flex.justify-content-center.mt-6.mb-6
          img(src="assets/images/pages/tema_6/img_6_2_02.svg", alt="", style="width:100%").img-fluid 

        .col-12
          p A lo largo de años de desarrollo de la industria cinematográfica, se han creado una serie de convenciones en cuanto a forma que a día de hoy son prácticamente universales, entre estas se puede encontrar el uso de la fuente ‘Courier New’ a tamaño de 12 puntos y gracias a esto suele coincidir que una página de guion corresponde a aproximadamente un minuto de historia en pantalla, vale aclarar que es una medida orientativa principalmente.
          p En cada página en la esquina superior derecha se ubica un encabezado con el título de la obra y el número de la página, lo siguiente a definir es el inicio de la secuencia dramática titulada de forma clara y seguido a esto se empezarán a hacer con cada una de las escenas que componen la secuencia.
          p Cada escena inicia con un encabezado que contiene el número de la escena, la locación y el momento del día de la siguiente manera:

        .col-12.col-md-8.d-flex.justify-content-center.my-6
          img(src="assets/images/pages/tema_6/info_6_2_01.svg", alt="", style="width:100%").img-fluid 

        .col-12
          p Bajo el encabezado se escribe la escena iniciando con una descripción breve del escenario y la acción a desarrollar, no se describe nada en pasado ni en futuro, aunque la acción mostrada sea un #[i flashback] o un #[i flashforward], siempre se debe redactar en presente, puesto que el guion cuenta lo que se está viendo en la pantalla en el momento y su escritura debe ser sencilla.          
          p Al introducir un personaje se puede añadir una breve descripción del mismo entre paréntesis para la primera vez que aparece y su nombre se debe poner en mayúscula sostenida siempre. 
          p Cuando en hay intervención de diálogos, estos se ponen en posición centrada para diferenciarlos de la acción e inician con el nombre del personaje que los dice, cuando los diálogos son de alguien que no aparece en pantalla se acotan entre paréntesis así (OFF), por ejemplo, el diálogo de alguien en otra habitación. Sin embargo, cuando el diálogo es de una voz en off como en el caso de un narrador se acota con (V.O.) del inglés #[i Voice Over].

        .col-12.col-md-8.d-flex.justify-content-center.my-6
          img(src="assets/images/pages/tema_6/img_6_2_03.png", alt="", style="width:100%").img-fluid 

        .col-12
          p Los diálogos son especialmente complejos, razón por la cual se deben pensar muy bien, ya que nada choca más en el espectador que un parlamento que no sea creíble. Esto es algo que se adquiere con la experiencia, pero siempre vale la pena tenerlo presente desde los primeros guiones que se realicen.
          p En momentos muy concretos se pueden poner anotaciones entre paréntesis bajo el nombre del personaje y sobre el diálogo cuando es necesario que algo sea muy específico, por ejemplo, un diálogo que deba hacerse en una entonación o jerga particular, aunque por norma general depende del director y el actor dar la intención al diálogo.

        .col-12.col-md-8.d-flex.justify-content-center.my-6
          img(src="assets/images/pages/tema_6/info_6_2_02.svg", alt="", style="width:100%").img-fluid 

        .col-12
          p Por último, si es necesario se puede finalizar la escena con la indicación de transiciones, las cuales se usan a la derecha e indican corte o fundido, entre otros. Las transiciones no son imprescindibles, incluso hay muchos guionistas que no las utilizan, pero pueden llegar a servir para enfatizar el punto final de algo, con un fundido a negro, por ejemplo.
          p A continuación, se presentan 3 ejemplos de guion: Shrek, El laberinto del fauno y Pulp Fiction respectivamente:

          .row.mt-5
            .col-auto      
              a(href="media/documentos/guion-shrek.pdf", target="_blank", style="color:#12263F")
                .jumbotron.mb-0
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                    .col
                      p.mb-0 #[strong Ejemplo.] Guion Shrek
          .row.mt-5
            .col-auto        
              a(href="media/documentos/guion-El-Laberinto-del-Fauno.pdf", target="_blank", style="color:#12263F")
                .jumbotron.mb-0
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                    .col
                      p.mb-0 #[strong Ejemplo.] Guion - El laberinto del fauno

          .row.mt-5
            .col-auto        
              a(href="media/documentos/guion-pulp-fiction.pdf", target="_blank", style="color:#12263F")
                .jumbotron.mb-0
                  .row.justify-content-center.align-items-center
                    .col-auto
                      img(src="assets/images/icons/icon_www.svg", alt="", style="width:35px")
                    .col
                      p.mb-0 #[strong Ejemplo.] Guion - Pulp fiction




